img {
    height: auto;
    max-width: 100%;
}

body {
    background-color: #efefef;
}

.lightbox-nav .btn-group {
    display: none;
}

/* Since I don't want to want to include angular.js in the Head section of the * document */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
