<div class="text-container" ng-show="!$ctrl.editing" ng-click="$ctrl.onContainerClick()">
    <span ng-hide="$ctrl.value" ng-bind="$ctrl.placeholder"></span>
    <span ng-if="$ctrl.fieldType != 'date'" ng-show="$ctrl.value" ng-bind="$ctrl.value" ></span>
    <span ng-if="$ctrl.fieldType == 'date'" ng-show="$ctrl.value" ng-bind="$ctrl.value | date : 'yyyy-MM-dd'"></span>
</div>
<form name="form" ng-submit="form.$valid && $ctrl.onFormSubmit()">
    <div class="form-group"
         ng-class="{ 'has-error': form.$invalid && !form.$pristine,
                     'has-success': form.$valid && !form.$pristine }">
        <input
            ng-if="$ctrl.fieldType == 'text'"
            type="text"
            class="form-control"
            focus-on-show
            ng-show="$ctrl.editing"
            ng-blur="$ctrl.onInputBlur()"
            ng-model="$ctrl.value"
        ></input>
        <input
            ng-if="$ctrl.fieldType == 'date'"
            type="text"
            class="form-control"
            placeholder="yyyy-mm-dd"
            uib-datepicker-popup="yyyy-MM-dd"
            focus-on-show
            ng-show="$ctrl.editing"
            ng-blur="$ctrl.onInputBlur()"
            ng-model="$ctrl.value"
        ></input>
        <textarea
            ng-if="$ctrl.fieldType == 'textarea'"
            class="form-control"
            focus-on-show
            ng-show="$ctrl.editing"
            on-keydown-enter="form.$valid && $ctrl.onFormSubmit()"
            ng-blur="$ctrl.onInputBlur()"
            ng-model="$ctrl.value"
        ></input>
    </div>
</form>
