<div class="thought">
    <div class="image-wrapper" ng-click="$ctrl.onImageClick({ id: $ctrl.key })">
        <img
            ng-src="{{$ctrl.card.src}}"
            class="animation-fade"
            image-loaded
            image-error="!$ctrl.card.error && $ctrl.onImageError({ id: $ctrl.key, originalUrl: $ctrl.card.originalUrl})"
            loadedclass="animation-faded"
        ></img>
    </div>

    <div class="thought-info">
        <div class="thought-name">
            <editable-field
                field-type="text"
                placeholder="Click here to name it"
                value="$ctrl.card.name"
                on-edit="$ctrl.onNameChange({ id: $ctrl.key, name: value})"
            >
            </editable-field>
        </div>

        <div class="thought-date">
            <editable-field
                field-type="date"
                placeholder="Click here to give a date.."
                value="$ctrl.card.date"
                on-edit="$ctrl.onDateChange({ id: $ctrl.key, date: value})"
            >
            </editable-field>
        </div>

        <div class="thought-description">
            <editable-field
                field-type="textarea"
                placeholder="Click here to describe it"
                value="$ctrl.card.description"
                on-edit="$ctrl.onDescriptionChange({ id: $ctrl.key, date: value })"
            >
            </editable-field>
        </div>
    </div>

    <button
        type="button"
        class="action close"
        uib-tooltip="Delete"
        tooltip-placement="bottom"
        ng-click="$ctrl.onDeleteButtonClick({ id: $ctrl.key })"
    >
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button
        ng-if="!$ctrl.card.error"
        type="button"
        class="action close"
        uib-tooltip="Click to refresh"
        tooltip-placement="left"
        ng-click="$ctrl.onImageError({ id: $ctrl.key, originalUrl: $ctrl.card.originalUrl})"
    >
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button
        ng-if="$ctrl.card.error == 'image'"
        type="button"
        class="action close"
        uib-tooltip="No more a valid image: click to refresh"
        tooltip-placement="left"
        ng-click="$ctrl.onImageError({ id: $ctrl.key, originalUrl: $ctrl.card.originalUrl})"
    >
        <span class="glyphicon glyphicon-exclamation-sign text-warning"></span>
    </button>
    <button
        ng-if="$ctrl.card.error == 'empty'"
        type="button"
        class="action close"
        uib-tooltip="Missing original url"
        tooltip-placement="left"
    >
        <span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
    </button>
    <div class="clearfix"></div>
</div>
