<div class="clearfix"></div>
<div
    class="grid"
    masonry=".grid"
    masonry-options='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'
    masonry-reload-on="$ctrl.thoughts"
>
    <div class="grid-sizer col-lg-3 col-md-4 col-sm-4 col-xs-12"></div>
    <div
        class="grid-item col-lg-3 col-md-4 col-sm-4 col-xs-12"
        ng-repeat="card in $ctrl.thoughts"
        ng-transclude
    >
    </div>
</div>
