.thought {
    margin-bottom: 15px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .15);
}

.thought:hover {
    border: 1px solid rgba(5, 5, 5, .55);
}

.thought .image-wrapper {
    background: url(../css/images/spinner.gif) center 30px no-repeat;
    min-height: 60px;
}

.thought .image-wrapper img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
}

.thought .image-wrapper img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.thought:hover .image-wrapper img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.thought .thought-info {
    padding: 15px 15px 0 15px;
}

.thought .thought-info .thought-name editable-field .text-container {
    font-size: 24px;
}

.thought .thought-info .thought-date {
    margin-bottom: 5px;
}

.thought .thought-info .thought-date editable-field .text-container {
    font-size: 80%;
    opacity: .7;
}

.thought .thought-info .thought-description editable-field .text-container {
    font-size: 80%;
    opacity: .5;
}

.thought .thought-info .text-container:hover:after {
    content: '✎';
}

.thought button.action {
    padding: 0 5px 5px 0;
    opacity: .5;
    outline: 0;
    color: grey;
    font-size: 100%;
}

.thought:hover button.action:hover {
    opacity: 1.0;
}

.animation-fade {
    opacity: 0;
}

.animation-faded {
    opacity: 1;
}

.animation-faded {
   -webkit-transition: opacity 1s linear .2s;
   -moz-transition: opacity 1s linear .2s;
   -o-transition: opacity 1s linear .2s;
   transition: opacity 1s linear .2s;
}
