<div class="row-fluid">
    <div class="col-md-offset-2 col-md-8">
        <form
            name="form"
            class="form-inline"
            ng-submit="!$ctrl.error && $ctrl.src && $ctrl.onInputSubmit({src: $ctrl.src, originalUrl: $ctrl.url})"
            novalidate
        >
            <div class="form-group expand"
                ng-class="{ 'has-error': $ctrl.error && $ctrl.url,
                            'has-success has-feedback': !$ctrl.error && !$ctrl.loading && $ctrl.url }">
                <input name="url" type="text"
                    placeholder="Copy the url of your happy thought here"
                    class="form-control input-lg expand"
                    ng-model-options="{ debounce: 300 }"
                    ng-change="$ctrl.onInputChange({ url: $ctrl.url })"
                    ng-model="$ctrl.url"></input>
                <span ng-cloak class="glyphicon glyphicon-ok form-control-feedback"
                        ng-if="!$ctrl.error && !$ctrl.loading && $ctrl.url"></span>
                <span ng-cloak ng-if="$ctrl.loading">Checking url...</span>
                <span ng-cloak ng-if="!$ctrl.loading && $ctrl.error == 'image'">Not a valid image</span>
                <span ng-cloak ng-if="!$ctrl.loading && $ctrl.error == 'unique'">Duplicate</span>
                <span ng-cloak ng-if="!$ctrl.loading && $ctrl.error == 'cdn'">CDN image -- will not last forever</span>
            </div>
        </form>
    </div>
</div>
