<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="../../resources/tray.png">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="navbar-right">
                <form class="navbar-form">
                    <button
                        class="btn"
                        uib-tooltip="Sign in with Google to back up your data in the cloud"
                        tooltip-placement="bottom"
                        ng-if="!$ctrl.googleEmail"
                        ng-disabled="$ctrl.loading"
                        ng-click="$ctrl.onSignInButtonClick()"
                    ><i class="fa fa-cloud" aria-hidden="true"></i></button>
                    <button
                        class="btn btn-primary"
                        uib-tooltip="Log out -- currently logged in as {{ $ctrl.googleEmail }}"
                        tooltip-placement="bottom"
                        ng-if="$ctrl.googleEmail"
                        ng-disabled="$ctrl.loading"
                        ng-click="$ctrl.onSignOutButtonClick()"
                    ><i class="fa fa-cloud" aria-hidden="true"></i></button>
                    <button
                        class="btn"
                        uib-tooltip="Sign in with Facebook to collect your happy thoughts published there"
                        tooltip-placement="bottom"
                        ng-if="!$ctrl.fbEmail"
                        ng-disabled="$ctrl.loading"
                        ng-click="$ctrl.onFbSignInButtonClick()"
                    ><i class="fa fa-facebook" aria-hidden="true"></i></button>
                    <button
                        class="btn btn-primary"
                        uib-tooltip="Log out -- currently logged in as {{ $ctrl.fbEmail }}"
                        tooltip-placement="bottom"
                        ng-if="$ctrl.fbEmail"
                        ng-disabled="$ctrl.loading"
                        ng-click="$ctrl.onFbSignOutButtonClick()"
                    ><i class="fa fa-facebook" aria-hidden="true"></i></button>
                </form>
            </div>

            <div class="navbar-right">
                <div ng-cloack ng-if="$ctrl.loading">
                  <p class="navbar-text">
                    <span>Loading...</span>
                  </p>
                </div>
            </div>
        </div>
    </div>
</nav>
