<div class="jumbotron">
    <h1>Felicemente</h1>
    <p>All your happy thoughts... in one place!</p>
</div>
<div class="row-fluid">
    <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
        <div class="help">
            <ol>
                <li>
                    Open your preferred social network and look for
                    whatever picture of yours makes you smile when
                    looking at it
                </li>
                <li>
                    Copy its URL into the input field below and
                    press 'Enter'
                </li>
                <li>
                    That's it!  You should find your happy thought
                    in the secton below, and you should be
                    able to name it or comment it by hovering it
                </li>
            </ol>
        </div>
    </div>
</div>
