<nav-bar
    loading="$ctrl.googleLoading || $ctrl.fbLoading"
    google-email="$ctrl.googleEmail"
    fb-email="$ctrl.fbEmail"
    on-sign-in-button-click="$ctrl.onSignInButtonClick()"
    on-sign-out-button-click="$ctrl.onSignOutButtonClick()"
    on-fb-sign-in-button-click="$ctrl.onFbSignInButtonClick()"
    on-fb-sign-out-button-click="$ctrl.onFbSignOutButtonClick()"
></nav-bar>
<div class="container-fluid">
    <welcome></welcome>
    <happy-thought-entry
        url="$ctrl.url"
        src="$ctrl.src"
        error="$ctrl.error"
        loading="$ctrl.entryLoading"
        on-input-change="$ctrl.onInputChange(url)"
        on-input-submit="$ctrl.onInputSubmit(src, originalUrl)"
    ></happy-thought-entry>
    <happy-thoughts-grid
        ng-if="$ctrl.thoughts.length !== 0"
        thoughts="$ctrl.thoughts"
    >
        <!-- https://github.com/angular/angular.js/issues/7874#issuecomment-216738353 -->
        <happy-thought-card
            card="$parent.card"
            key="$parent.$index"
            on-image-error="$ctrl.onImageError(id, originalUrl)"
            on-image-click="$ctrl.onImageClick(id)"
            on-name-change="$ctrl.onNameChange(id, name)"
            on-date-change="$ctrl.onDateChange(id, date)"
            on-description-change="$ctrl.onDescriptionChange(id, description)"
            on-delete-button-click="$ctrl.onDeleteButtonClick(id)"
        ></happy-thought-card>
    </happy-thoughts-grid>
    <happy-thoughts-grid
        ng-if="$ctrl.thoughts.length === 0"
        thoughts="$ctrl.exampleThoughts"
    >
        <!-- https://github.com/angular/angular.js/issues/7874#issuecomment-216738353 -->
        <happy-thought-card
            card="$parent.card"
            key="$parent.$index"
            on-image-error="$ctrl.onImageError(id, originalUrl)"
            on-image-click="$ctrl.onImageClick(id)"
            on-name-change=""
            on-date-change=""
            on-description-change=""
            on-delete-button-click=""
        ></happy-thought-card>
    </happy-thoughts-grid>
</div>
